<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>title</key>
		<string>音乐</string>
		<key>urlStr</key>
		<string></string>
		<key>imageURL</key>
		<string>https://gtd.alicdn.com/imgextra/https://img.alicdn.com/imgextra/i1/132298952/TB1x46GKVXXXXXLaXXXXXXXXXXX_!!132298952-0-tstar.jpg_290x10000.jpg</string>
		<key>imageStr</key>
		<string></string>
		<key>jmpVC</key>
		<string>MusicRootViewController</string>
	</dict>
	<dict>
		<key>title</key>
		<string>天气</string>
		<key>urlStr</key>
		<string></string>
		<key>imageURL</key>
		<string>https://gw.alicdn.com/bao/uploaded/TB1UdnfLXXXXXc2XFXXSutbFXXX.jpg_240x10000q90.jpg</string>
		<key>imageStr</key>
		<string></string>
		<key>jmpVC</key>
		<string>WeatherRootViewController</string>
	</dict>
	<dict>
		<key>title</key>
		<string>闹钟</string>
		<key>urlStr</key>
		<string></string>
		<key>imageURL</key>
		<string></string>
		<key>imageStr</key>
		<string>625.jpg</string>
		<key>jmpVC</key>
		<string></string>
	</dict>
	<dict>
		<key>title</key>
		<string>SchoolRecord</string>
		<key>urlStr</key>
		<string></string>
		<key>imageURL</key>
		<string></string>
		<key>imageStr</key>
		<string>625.jpg</string>
		<key>jmpVC</key>
		<string>SchoolRecordViewController</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Demo</string>
		<key>urlStr</key>
		<string></string>
		<key>imageURL</key>
		<string></string>
		<key>imageStr</key>
		<string></string>
		<key>jmpVC</key>
		<string>MainDemoTableViewController</string>
	</dict>
	<dict>
		<key>title</key>
		<string> DemoDrawRec</string>
		<key>urlStr</key>
		<string></string>
		<key>imageURL</key>
		<string></string>
		<key>imageStr</key>
		<string></string>
		<key>jmpVC</key>
		<string>DemoDrawRectViewController</string>
	</dict>
	<dict>
		<key>title</key>
		<string>FFTSchoolDemo</string>
		<key>urlStr</key>
		<string></string>
		<key>imageURL</key>
		<string></string>
		<key>imageStr</key>
		<string></string>
		<key>jmpVC</key>
		<string>FFTSchoolDemoViewController</string>
	</dict>
	<dict>
		<key>title</key>
		<string>手电筒</string>
		<key>urlStr</key>
		<string></string>
		<key>imageURL</key>
		<string></string>
		<key>imageStr</key>
		<string></string>
		<key>jmpVC</key>
		<string></string>
	</dict>
	<dict>
		<key>title</key>
		<string>GyroscopeMotion</string>
		<key>urlStr</key>
		<string></string>
		<key>imageURL</key>
		<string></string>
		<key>imageStr</key>
		<string></string>
		<key>jmpVC</key>
		<string>SchoolGyroscopeMotionViewController</string>
	</dict>
	<dict>
		<key>title</key>
		<string>RecordFile</string>
		<key>urlStr</key>
		<string></string>
		<key>imageURL</key>
		<string></string>
		<key>imageStr</key>
		<string></string>
		<key>jmpVC</key>
		<string>RecordFileSchoolDemoViewController</string>
	</dict>
	<dict>
		<key>title</key>
		<string>我的浏览器</string>
		<key>urlStr</key>
		<string></string>
		<key>imageURL</key>
		<string></string>
		<key>imageStr</key>
		<string></string>
		<key>jmpVC</key>
		<string></string>
	</dict>
	<dict>
		<key>title</key>
		<string>汇率查询</string>
		<key>urlStr</key>
		<string></string>
		<key>imageURL</key>
		<string></string>
		<key>imageStr</key>
		<string></string>
		<key>jmpVC</key>
		<string></string>
	</dict>
	<dict>
		<key>title</key>
		<string>药品大全</string>
		<key>urlStr</key>
		<string></string>
		<key>imageURL</key>
		<string></string>
		<key>imageStr</key>
		<string></string>
		<key>jmpVC</key>
		<string></string>
	</dict>
	<dict>
		<key>title</key>
		<string>菜价</string>
		<key>urlStr</key>
		<string></string>
		<key>imageURL</key>
		<string></string>
		<key>imageStr</key>
		<string></string>
		<key>jmpVC</key>
		<string></string>
	</dict>
	<dict>
		<key>title</key>
		<string>短信大全</string>
		<key>urlStr</key>
		<string></string>
		<key>imageURL</key>
		<string></string>
		<key>imageStr</key>
		<string></string>
		<key>jmpVC</key>
		<string></string>
	</dict>
	<dict>
		<key>title</key>
		<string>违章查询</string>
		<key>urlStr</key>
		<string></string>
		<key>imageURL</key>
		<string></string>
		<key>imageStr</key>
		<string></string>
		<key>jmpVC</key>
		<string></string>
	</dict>
	<dict>
		<key>title</key>
		<string>翻译</string>
		<key>urlStr</key>
		<string></string>
		<key>imageURL</key>
		<string></string>
		<key>imageStr</key>
		<string></string>
		<key>jmpVC</key>
		<string></string>
	</dict>
	<dict>
		<key>title</key>
		<string>常用电话</string>
		<key>urlStr</key>
		<string></string>
		<key>imageURL</key>
		<string></string>
		<key>imageStr</key>
		<string></string>
		<key>jmpVC</key>
		<string></string>
	</dict>
</array>
</plist>
